<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>Socket Products</title>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.min.js"></script>
</head>
<body>
    <div class="menu">
        <h1>Bienvenido <%- name %>!</h1>
        <a href="/app/cart">Cart</a>
        <button id="logoutBtn">Logout</button>
    </div>

    <%- include('./user-info.ejs') %>

    <div class="container">
        <%- include('./form.ejs') %>
    </div>

    <%- include('./products.ejs') %>
    <%- include('./chat.ejs') %>

    <script src="../main.js"></script>
</body>
</html>